input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.filter__container {
    min-width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    .filter__container span {
        display: none;
    }
    .filter__container {
        justify-content: center;
    }
    .star {
        margin: 0.5rem;
    }
}